body {
    font-family: Arial, sans-serif;
}

.jumbotron {
    background-color: #f8f9fa;
}

footer {
    background-color: #f8f9fa;
    padding: 10px 0;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 10px; /* Sesuaikan jarak antara gambar dan teks */
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}